{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": ["transform-decorators-legacy", "lodash"]
}
